.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Flex Container */
.flex-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
  gap: 2%;
  margin-top: 2%;
}

/* In your App.css or another CSS file */
.left-column {
  max-width: 600px; /* Set your desired maximum width */
  min-width: 300px;
  width: 100%;      /* Allow it to take up the full width of the parent */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}


.right-column {
  display: flex;
  flex-direction: column;
  flex: 2.5; /* Adjust this as needed for proportion */
  max-width: 600px; /* Set your desired maximum width */
  min-width: 300px;
}

/* Centering Items */
.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textEntry {
  padding-bottom: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .flex-container {
    flex-direction: column; /* Stack columns */
  }
}
